.left{
	float: left;
}
.right{
	float: right;
}
ul,ol{
	list-style-type: none;
}
a{
	color: #666;
	text-decoration: none;
}
#nav{
	height: 60px;
	border-style: solid;
	border-color: #000000;
	border-width: 5px;
	margin: 0 auto;
}
#nav img{
	width: 30px;
	height: 30px;
}
#nav li{
	float: left;
	margin: 0px 15px;
}
#nav li a{
	color: #000000;
	font-size: 24px;
	font-family: "楷体";
}
#nav .right{
	float: right;
	height: 60px;
	background-color: #E5E5E5;
}
#nav .right li a{
	font-size: 16px;
	font-family: "楷体";
}
#body{
	height: 850px;
	border-style: solid;
	border-color: #000000;
	border-width: 5px;
	border-top: none;
	margin: 0 auto;
}
#body img{
	float: left;
	width: 70%;
	height: 800px;
}
#body .grey{
	float: right;
	height: 800px;
	width: 30%;
	background-color: #5D5D5D;
}
#body .kong{
    height: 200px;
}
#body .kong2{
	width: 100px;
	height: 600px;
	float: left;
}
#body ul{
	margin: 0px;
	padding: 0px;
}
#body ul li{
	font-family: "楷体";
	font-size: 30px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	line-height: 100px;
}
#body p{
	font-family: "楷体";
	font-size: 16px;
	color: #FFFFFF;
	line-height: 20px;
	letter-spacing: 3px;
}
#body .zi{
	float: left;
	width: 300px;
	height: 600px;
}